In [5]:
import pandas as pd

def list_stock_evaluation_for_ticker(ticker):
    df = pd.read_csv('csv-data/stock_evaluation_results.csv', index_col=0)
    results = df.loc[ticker] if ticker in df.index else None
    return results

# Example usage:
# ticker_results = list_stock_evaluation_for_ticker('AAPL')
# print(ticker_results)

In [26]:
df = pd.read_csv('csv-data/stock_evaluation_results.csv', index_col=0)

In [27]:
df.loc[['AAK','AZN'], [col for col in df.columns if 'Total_Revenue' in col]].head(10)

     Total_Revenue
AAK   4.505200e+10
AZN   5.407300e+10

In [28]:
ticker_results = list_stock_evaluation_for_ticker('AAK')
print(ticker_results)

Net_Income            3536000000.0
EBIT                  4895000000.0
Pretax_Income         4660000000.0
Tax_Provision         1118000000.0
Interest_Expense       235000000.0
                          ...
CAGR                      0.083287
Latest_clusterAvg        63.275479
Trend_clusterAvg         87.989624
Latest_clusterRank       77.272727
Trend_clusterRank        99.870298
Name: AAK, Length: 193, dtype: object

In [6]:
def raw_financial_data():
    df = pd.read_csv('csv-data/raw_financial_data.csv')
    
    return df

In [7]:
df=raw_financial_data()

In [12]:
df.query('Ticker == "AAK" & Metric == "Basic EPS"').head(10)

         Metric        Date  Value Ticker           Segment
4262  Basic EPS  2024-12-31  13.62    AAK  income_statement
4306  Basic EPS  2023-12-31  11.35    AAK  income_statement
4350  Basic EPS  2022-12-31   6.84    AAK  income_statement
4394  Basic EPS  2021-12-31   5.59    AAK  income_statement

df